body,html {
    background-color:#404040; 
    background-image: url("mirror_img/background3.jpg");
    
  
     height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mirror{
  margin-top: 1px;
  display: block;
  height:20px;
  width:100px;
  margin-left:auto;
  margin-right:auto;
  padding-top: 1px;
  color: white;
  text-shadow: 2px 2px black;
  
  
}


button{
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width:370px;
  height:60px;
  background-color: white;
  border-radius: 5px;
  font-family: 'Baloo Bhai 2', cursive;
  
}
a{
  text-decoration: none;
}

#songs{
  margin-top: 50px;
}


#one{
  display:flex;
  float: left;
  
  margin-left:15px;
  
}

#two{
  display:flex;
  float: left;
  
  margin-left: 30px;
  margin-right:30px;
}

#three{
  display:flex;
  float: left;
  
  
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 150px;
  height:150px;
  border-radius: 100px;
}

#logos{
  display:block;
  margin-top:160px;
  margin-left: auto;
  margin-right: auto;
  padding:15px 25px 15px 25px;
  height:20px;
  width: 250px;
  
  
  
  
}